<Section class="mainDiv container-fluid"> <!-- DO NOT REMOVE THIS Section -->
    <div class="row">
        <div class="col-8">
            <h1 class="titleHome float-left">{{topic}}</h1>
        </div>
        <div class="col-4">
        </div>
    </div>

<!--        for artists-->
        <div class="row">
    {% for artistdata in artistdata %}
            <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-sm-block d-md-block d-lg-block d-xl-block">
                <div class="row pb-4">
                    <div class="col-12">
                        <div class="imageHover"><a href="#" >
                            <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                                <img src="static/artist_image/{{artistdata.artist_img_original}}" alt="Playlist by Control" class="img-fluid image box-shadow"></a>
                        </div>
                    </div>
                    <div class="col-12 artistName">Total : {{artistdata.total_album}} Albums</div>
                </div>
            </div>
    {% endfor %}

</div>

<!--for albums-->
        <div class="row">
        <div class="col-8">
            <h1 class="titleHome float-left">Albums</h1>
        </div>

        </div>
        <div class="row">
{% for albumdata in albumdata %}
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="row pb-4">
                <div class="col-12">
                    <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{albumdata.artwork_name}}" alt="Playlist by Control" class="img-fluid image box-shadow"></a>
                    </div>
                </div>
                <div class="col-12 songName" onclick='GoToView("{{albumdata.album}}")'><a href="#" >{{albumdata.album}}</a></div>
                <div class="col-12 artistName" onclick='ArtistView("{{albumdata.album_artist}}")'><a href="#" >{{albumdata.album_artist}}</a></div>
            </div>
        </div>
{% endfor %}

        </div>

<!--    for songs-->
        <div class="row">
        <div class="col-8">
            <h1 class="titleHome float-left">Songs</h1>
        </div>
        </div>

        {% for meta in meta %}
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">{{ forloop.counter }}</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{meta.file}},,{{meta.artwork_name}},,{{meta.title}},,{{meta.album_artist}},,{{meta.length}}")' >
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{meta.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{meta.file}},,{{meta.artwork_name}},,{{meta.title}},,{{meta.album_artist}},,{{meta.length}}")'>{{meta.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{meta.album_artist}}")'>{{meta.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{meta.album}}")'>{{meta.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option{{forloop.counter0}}" onclick='option("option{{forloop.counter0}}")' value="{{meta.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option{{forloop.counter0}}")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option{{forloop.counter0}}")'></i>
                                </div>
                            </span>
                        </i> </a>
                    {% if meta.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{meta.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
    {% endfor %}


</Section>