<Section class="mainDiv container-fluid"> <!-- DO NOT REMOVE THIS Section -->

    <!-- forget password  -->
   <div class="row signinDiv mb-5 ">
       <div class="col-3 d-sm-none d-md-none d-lg-block d-xl-block hideOnXS"></div>

       <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
           <form method='post' action="" onsubmit="return forgetsendmail();" autocomplete="off">
                {% csrf_token %}
               <div class="row"><div class="col-12"><H1 class="text-center"> Forgot Password?</H1></div></div>
               <div class="row"><div class="col-12"><p class="text-center"> No problem, we will fix it. Just type your email below and we will send you password recovery instruction to your email. Follow easy steps to get back to your account.</p></div></div>
               <div class="row"><div class="col-12"><input type="email" name="email" id="email" placeholder="EMAIL" class="searchbox1" required></div></div>

               <div class="row">
                   <div class="col-12"><button type="submit" id="submit" class="btnLogin1">Send Email</button></div>
               </div>

           </form>
       </div>


       <div class="col-3 d-sm-none d-md-none d-lg-block d-xl-block hideOnXS"></div>
   </div>


</Section>
<!--for notification-->
  <script type="text/javascript">
  {% for message in messages %}
    $.growl.{{notitype}} ({ message: " {{message}}  "});
  {% endfor %}
</script>