<Section class="mainDiv container-fluid"> <!-- DO NOT REMOVE THIS Section -->

<!-- The Best New Releases -->
    <div class="feature">
        <div class="row">
        <div class="col-8">
            <h1 class="titleHome float-left">The Best New Releases</h1>
        </div>
        <div class="col-4">
            <h1 class="titleHomeMore float-right">SEE ALL</h1>
        </div>
    </div>
        <div class="row">
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="row ">
                <div class="col-12">
                    <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                            <img src="static/img/thumbnails/control.jpg" alt="Playlist by Control" class="img-fluid image box-shadow"></a>
                    </div>
                </div>
                <div class="col-12 songName"><a href="#" >Weekly Top 15</a></div>
                <div class="col-12 artistName">by Control</div>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="row ">
                <div class="col-12">
                    <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                        <img src="static/thumbnails/{{newandtrending.0.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow"></a>
                    </div>
                </div>
                <div class="col-12 songName" onclick='GoToView("{{newandtrending.0.album}}")'><a href="#">{{newandtrending.0.album}}</a></div>
                <div class="col-12 artistName" onclick='ArtistView("{{newandtrending.0.album_artist}}")'><a href="#" >{{newandtrending.0.album_artist}}</a></div>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="row ">
                <div class="col-12">
                    <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                        <img src="static/thumbnails/{{newandtrending.1.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow"></a>
                    </div>
                </div>
                <div class="col-12 songName" onclick='GoToView("{{newandtrending.1.album}}")'><a href="#">{{newandtrending.1.album}}</a></div>
                <div class="col-12 artistName" onclick='ArtistView("{{newandtrending.1.album_artist}}")'><a href="#">{{newandtrending.1.album_artist}}</a></div>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="row ">
                <div class="col-12">
                   <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                        <img src="static/thumbnails/{{newandtrending.2.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow"></a>
                    </div>
                </div>
                <div class="col-12 songName" onclick='GoToView("{{newandtrending.2.album}}")'><a href="#">{{newandtrending.2.album}}</a></div>
                <div class="col-12 artistName" onclick='ArtistView("{{newandtrending.2.album_artist}}")'><a href="#">{{newandtrending.2.album_artist}}</a></div>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-sm-none d-md-none d-lg-block d-xl-block">
            <div class="row">
                <div class="col-12 ">
                    <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                        <img src="static/thumbnails/{{newandtrending.3.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow"></a>
                    </div>
                </div>
                <div class="col-12 songName" onclick='GoToView("{{newandtrending.3.album}}")'><a href="#">{{newandtrending.3.album}}</a></div>
                <div class="col-12 artistName" onclick='ArtistView("{{newandtrending.3.album_artist}}")'><a href="#">{{newandtrending.3.album_artist}}</a></div>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">
            <div class="row">
                <div class="col-12 ">
                   <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                        <img src="static/thumbnails/{{newandtrending.4.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow"></a>
                    </div>
                </div>
                <div class="col-12 songName" onclick='GoToView("{{newandtrending.4.album}}")'><a href="#">{{newandtrending.4.album}}</a></div>
                <div class="col-12 artistName" onclick='ArtistView("{{newandtrending.4.album_artist}}")'><a href="#">{{newandtrending.4.album_artist}}</a></div>
            </div>
        </div>
    </div>
    </div>

<!--  New Albums & Singles -->
    <div class="feature">
        <div class="row">
        <div class="col-8">
            <h1 class="titleHome float-left">New Albums & Singles</h1>
        </div>
        <div class="col-4">
            <h1 class="titleHomeMore float-right">SEE ALL</h1>
        </div>
    </div>
        <div class="row">
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="row ">
                <div class="col-12">
                    <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{newalbumsandsingles.0.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow"></a>
                    </div>
                </div>
               <div class="col-12 songName" onclick='GoToView("{{newalbumsandsingles.0.album}}")'><a href="#">{{newalbumsandsingles.0.album}}</a></div>
                <div class="col-12 artistName" onclick='ArtistView("{{newalbumsandsingles.0.album_artist}}")'><a href="#" >{{newalbumsandsingles.0.album_artist}}</a></div>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="row ">
                <div class="col-12">
                    <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                        <img src="static/thumbnails/{{newalbumsandsingles.1.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow"></a>
                    </div>
                </div>
                <div class="col-12 songName" onclick='GoToView("{{newalbumsandsingles.1.album}}")'><a href="#">{{newalbumsandsingles.1.album}}</a></div>
                <div class="col-12 artistName" onclick='ArtistView("{{newalbumsandsingles.1.album_artist}}")'><a href="#" >{{newalbumsandsingles.1.album_artist}}</a></div>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="row ">
                <div class="col-12">
                    <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                        <img src="static/thumbnails/{{newalbumsandsingles.2.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow"></a>
                    </div>
                </div>
                <div class="col-12 songName" onclick='GoToView("{{newalbumsandsingles.2.album}}")'><a href="#">{{newalbumsandsingles.2.album}}</a></div>
                <div class="col-12 artistName" onclick='ArtistView("{{newalbumsandsingles.2.album_artist}}")'><a href="#">{{newalbumsandsingles.2.album_artist}}</a></div>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="row ">
                <div class="col-12">
                   <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                        <img src="static/thumbnails/{{newalbumsandsingles.3.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow"></a>
                    </div>
                </div>
                <div class="col-12 songName" onclick='GoToView("{{newalbumsandsingles.3.album}}")'><a href="#">{{newalbumsandsingles.3.album}}</a></div>
                <div class="col-12 artistName" onclick='ArtistView("{{newalbumsandsingles.3.album_artist}}")'><a href="#">{{newalbumsandsingles.3.album_artist}}</a></div>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-sm-none d-md-none d-lg-block d-xl-block">
            <div class="row">
                <div class="col-12 ">
                    <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                        <img src="static/thumbnails/{{newalbumsandsingles.4.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow"></a>
                    </div>
                </div>
                <div class="col-12 songName" onclick='GoToView("{{newalbumsandsingles.4.album}}")'><a href="#">{{newalbumsandsingles.4.album}}</a></div>
                <div class="col-12 artistName" onclick='ArtistView("{{newalbumsandsingles.4.album_artist}}")'><a href="#">{{newalbumsandsingles.4.album_artist}}</a></div>
            </div>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">
            <div class="row">
                <div class="col-12 ">
                   <div class="imageHover"><a href="#" >
                        <div class="imageHoverPlay"><i class="far fa-play-circle"></i></div>
                        <img src="static/thumbnails/{{newalbumsandsingles.5.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow"></a>
                    </div>
                </div>
                <div class="col-12 songName" onclick='GoToView("{{newalbumsandsingles.5.album}}")'><a href="#">{{newalbumsandsingles.5.album}}</a></div>
                <div class="col-12 artistName" onclick='ArtistView("{{newalbumsandsingles.5.album_artist}}")'><a href="#">{{newalbumsandsingles.5.album_artist}}</a></div>
            </div>
        </div>
    </div>
    </div>


</Section>