<!doctype html>
{%load static%}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'img/favicon.png'%}" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/jquery.growl.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-5.13.0-web/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/cooljazz.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <title>Control</title>
  </head>
  <body>
  <!--  header-->
    <section class="container-fluid">
      <div class="row">
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <a href="../../"> <img src="{% static 'img/logo.png'%}" alt="Control" class="img-fluid logo" height="75px" width="220px" ></a>
        </div>
        </div>
    </section>

<div class="m-3">

    <!-- forget password  -->
   <div class="row signinDiv mb-5  ">
       <div class="col-3 d-sm-none d-md-none d-lg-block d-xl-block hideOnXS"></div>

       <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">

           <form method='post' action="../../confirmnewpassword" autocomplete="off">
               {% if message != 'Opps! The link you have come with is maybe broken or already used. Please Request password again.' %}
                {% csrf_token %}
               <div class="row"><div class="col-12"><H1 class="text-center colorWhite"> Reset Password</H1></div></div>
               <div class="row"><div class="col-12"><p class="text-center colorWhite">Please enter your new password.</p></div></div>
               <input type="hidden" value="{{ email }}" name="email" >
                <input type="hidden" value="{{ token }}" name="token" >
               <div class="row"><div class="col-12"><input type="password" name="password" id="password" placeholder="New Password" class="searchbox1" required></div></div>
               <div class="row"><div class="col-12"><input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" class="searchbox1" required></div></div>

               <div class="row">
                   <div class="col-12"><button type="submit" id="submit" class="btnLogin1">CONFIRM</button></div>
               </div>
                {% endif %}

           </form>
       </div>


       <div class="col-3 d-sm-none d-md-none d-lg-block d-xl-block hideOnXS"></div>
   </div>



</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.growl.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
<!--for notification-->
  <script type="text/javascript">
  {% if messages %}
  {% for message in messages %}
   {% if notitype %}
    $.growl.{{notitype}} ({ message: " {{message}}  "});
    {% else %}

    $.growl.error ({ message: " {{message}}  "});
    {% endif %}
  {% endfor %}
  {% endif %}
</script>

  </body>
</html>