<Section class="mainDiv container-fluid"> <!-- DO NOT REMOVE THIS Section -->
    <div class="row">
        <div class="col-8">
            <h1 class="titleHome float-left">{{topic}}</h1>
        </div>
        <div class="col-4">
        </div>
    </div>

      <!-- Weekly Top 15 -->
    {% if topsong is not empty %}



        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">1</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.0.file}},,{{topsong.0.artwork_name}},,{{topsong.0.title}},,{{topsong.0.album_artist}},,{{topsong.0.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.0.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.0.file}},,{{topsong.0.artwork_name}},,{{topsong.0.title}},,{{topsong.0.album_artist}},,{{topsong.0.length}}")' >{{topsong.0.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.0.album_artist}}")'>{{topsong.0.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.0.album}}")'>{{topsong.0.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option0" onclick='option("option0")' value="{{topsong.0.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option0")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option0")'></i>
                                </div>
                            </span>
                        </i> </a>
                    {% if topsong.0.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.0.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">2</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.1.file}},,{{topsong.1.artwork_name}},,{{topsong.1.title}},,{{topsong.1.album_artist}},,{{topsong.1.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.1.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.1.file}},,{{topsong.1.artwork_name}},,{{topsong.1.title}},,{{topsong.1.album_artist}},,{{topsong.1.length}}")' >{{topsong.1.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.1.album_artist}}")'>{{topsong.1.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.1.album}}")'>{{topsong.1.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option1" onclick='option("option1")' value="{{topsong.1.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option1")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option1")'></i>
                                </div>
                            </span>
                        </i> </a>
                    {% if topsong.1.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.1.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">3</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.2.file}},,{{topsong.2.artwork_name}},,{{topsong.2.title}},,{{topsong.2.album_artist}},,{{topsong.2.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.2.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.2.file}},,{{topsong.2.artwork_name}},,{{topsong.2.title}},,{{topsong.2.album_artist}},,{{topsong.2.length}}")' >{{topsong.2.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.2.album_artist}}")'>{{topsong.2.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.2.album}}")'>{{topsong.2.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option2" onclick='option("option2")' value="{{topsong.2.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option2")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option2")'></i>
                                </div>
                            </span>
                        </i> </a>
                    {% if topsong.2.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.2.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">4</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.3.file}},,{{topsong.3.artwork_name}},,{{topsong.3.title}},,{{topsong.3.album_artist}},,{{topsong.3.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                           <img src="static/thumbnails/{{topsong.3.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.3.file}},,{{topsong.3.artwork_name}},,{{topsong.3.title}},,{{topsong.3.album_artist}},,{{topsong.3.length}}")' >{{topsong.3.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.3.album_artist}}")'>{{topsong.3.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.3.album}}")'>{{topsong.3.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option3" onclick='option("option3")' value="{{topsong.3.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option3")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option3")'></i>
                                </div>
                            </span>
                        </i> </a>
                    {% if topsong.3.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.3.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">5</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.4.file}},,{{topsong.4.artwork_name}},,{{topsong.4.title}},,{{topsong.4.album_artist}},,{{topsong.4.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.4.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.4.file}},,{{topsong.4.artwork_name}},,{{topsong.4.title}},,{{topsong.4.album_artist}},,{{topsong.4.length}}")'>{{topsong.4.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.4.album_artist}}")'>{{topsong.4.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.4.album}}")'>{{topsong.4.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option4" onclick='option("option4")' value="{{topsong.4.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option4")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option4")'></i>
                                </div>
                            </span>
                        </i> </a>
                    {% if topsong.4.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.4.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">6</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.5.file}},,{{topsong.5.artwork_name}},,{{topsong.5.title}},,{{topsong.5.album_artist}},,{{topsong.5.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.5.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.5.file}},,{{topsong.5.artwork_name}},,{{topsong.5.title}},,{{topsong.5.album_artist}},,{{topsong.5.length}}")'>{{topsong.5.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.5.album_artist}}")'>{{topsong.5.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick="GoToView('{{topsong.5.album}}')">{{topsong.5.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option5" onclick='option("option5")' value="{{topsong.5.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option5")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option5")'></i>
                                </div>
                            </span>
                        </i> </a>
                    {% if topsong.5.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.5.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">7</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.6.file}},,{{topsong.6.artwork_name}},,{{topsong.6.title}},,{{topsong.6.album_artist}},,{{topsong.6.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.6.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.6.file}},,{{topsong.6.artwork_name}},,{{topsong.6.title}},,{{topsong.6.album_artist}},,{{topsong.6.length}}")'>{{topsong.6.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.6.album_artist}}")'>{{topsong.6.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.6.album}}")'>{{topsong.6.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option6" onclick='option("option6")' value="{{topsong.6.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option6")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option6")'></i>
                                </div>
                            </span>
                        </i> </a>
                    {% if topsong.6.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.6.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">8</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.7.file}},,{{topsong.7.artwork_name}},,{{topsong.7.title}},,{{topsong.7.album_artist}},,{{topsong.7.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.7.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName"  onclick='singleSongPlay("{{topsong.7.file}},,{{topsong.7.artwork_name}},,{{topsong.7.title}},,{{topsong.7.album_artist}},,{{topsong.7.length}}")' >{{topsong.7.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.7.album_artist}}")'>{{topsong.7.album_artist}}</a>  · <a href="#" class="artistsAlbum"  onclick='GoToView("{{topsong.7.album}}")'>{{topsong.7.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option7" onclick='option("option7")' value="{{topsong.7.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option7")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option7")'></i>
                                </div>
                            </span>
                        </i> </a>
                    {% if topsong.7.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.7.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">9</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.8.file}},,{{topsong.8.artwork_name}},,{{topsong.8.title}},,{{topsong.8.album_artist}},,{{topsong.8.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.8.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.8.file}},,{{topsong.8.artwork_name}},,{{topsong.8.title}},,{{topsong.8.album_artist}},,{{topsong.8.length}}")' >{{topsong.8.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.8.album_artist}}")'>{{topsong.8.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.8.album}}")'>{{topsong.8.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option8" onclick='option("option8")' value="{{topsong.8.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option8")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option8")'></i>
                                </div>
                            </span>
                        </i> </a>
                    {% if topsong.8.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.8.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">10</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.9.file}},,{{topsong.9.artwork_name}},,{{topsong.9.title}},,{{topsong.9.album_artist}},,{{topsong.9.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.9.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.9.file}},,{{topsong.9.artwork_name}},,{{topsong.9.title}},,{{topsong.9.album_artist}},,{{topsong.9.length}}")' >
<!--                        file,image,title,artist-->{{topsong.9.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.9.album_artist}}")'>{{topsong.9.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.9.album}}")'>{{topsong.9.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option9" onclick='option("option9")' value="{{topsong.9.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option9")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option9")'></i>
                                </div>
                            </span>
                        </i> </a>
                        {% if topsong.9.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.9.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">11</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.10.file}},,{{topsong.10.artwork_name}},,{{topsong.10.title}},,{{topsong.10.album_artist}},,{{topsong.10.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.10.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.10.file}},,{{topsong.10.artwork_name}},,{{topsong.10.title}},,{{topsong.10.album_artist}},,{{topsong.10.length}}")' >
<!--                        file,image,title,artist-->{{topsong.10.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.10.album_artist}}")'>{{topsong.10.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.10.album}}")'>{{topsong.10.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option10" onclick='option("option10")' value="{{topsong.10.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option10")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option10")'></i>
                                </div>
                            </span>
                        </i> </a>
                        {% if topsong.10.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.10.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">12</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.11.file}},,{{topsong.11.artwork_name}},,{{topsong.11.title}},,{{topsong.11.album_artist}},,{{topsong.11.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.11.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.11.file}},,{{topsong.11.artwork_name}},,{{topsong.11.title}},,{{topsong.11.album_artist}},,{{topsong.11.length}}")' >
<!--                        file,image,title,artist-->{{topsong.11.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.11.album_artist}}")'>{{topsong.11.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.11.album}}")'>{{topsong.11.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option11" onclick='option("option11")' value="{{topsong.11.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option11")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option11")'></i>
                                </div>
                            </span>
                        </i> </a>
                        {% if topsong.11.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.11.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">13</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.12.file}},,{{topsong.12.artwork_name}},,{{topsong.12.title}},,{{topsong.12.album_artist}},,{{topsong.12.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.12.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.12.file}},,{{topsong.12.artwork_name}},,{{topsong.12.title}},,{{topsong.12.album_artist}},,{{topsong.12.length}}")' >
<!--                        file,image,title,artist-->{{topsong.12.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.12.album_artist}}")'>{{topsong.12.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.12.album}}")'>{{topsong.12.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option12" onclick='option("option12")' value="{{topsong.12.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option12")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option12")'></i>
                                </div>
                            </span>
                        </i> </a>
                        {% if topsong.12.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.12.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">14</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.13.file}},,{{topsong.13.artwork_name}},,{{topsong.13.title}},,{{topsong.13.album_artist}},,{{topsong.13.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.13.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.13.file}},,{{topsong.13.artwork_name}},,{{topsong.13.title}},,{{topsong.13.album_artist}},,{{topsong.13.length}}")' >
<!--                        file,image,title,artist-->{{topsong.13.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.13.album_artist}}")'>{{topsong.13.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.13.album}}")'>{{topsong.13.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option13" onclick='option("option13")' value="{{topsong.13.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option13")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option13")'></i>
                                </div>
                            </span>
                        </i> </a>
                        {% if topsong.13.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.13.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
        <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">15</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{topsong.14.file}},,{{topsong.14.artwork_name}},,{{topsong.14.title}},,{{topsong.14.album_artist}},,{{topsong.14.length}}")' >
<!--                        file,image,title,artist-->
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{topsong.14.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{topsong.14.file}},,{{topsong.14.artwork_name}},,{{topsong.14.title}},,{{topsong.14.album_artist}},,{{topsong.14.length}}")' >
<!--                        file,image,title,artist-->{{topsong.14.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{topsong.14.album_artist}}")'>{{topsong.14.album_artist}}</a>  · <a href="#" class="artistsAlbum" onclick='GoToView("{{topsong.14.album}}")'>{{topsong.14.album}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption">
                        <a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option14" onclick='option("option14")' value="{{topsong.14.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option14")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option14")'></i>
                                </div>
                            </span>
                        </i> </a>
                        {% if topsong.14.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{topsong.14.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>


    {% endif %}

<!--    for new and trending  -->
    {% for albumview in albumview %}
                <div class="row bgOnHover">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-1 d-xs-none col-sm-1 col-md-1 col-lg-1 col-xl-1 songNo hideOnXS">{{ forloop.counter }}</div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-1 " >
                        <div class="imageHover1"><a href="#" onclick='singleSongPlay("{{albumview.file}},,{{albumview.artwork_name}},,{{albumview.title}},,{{albumview.album_artist}},,{{albumview.length}}")'>
                            <div class="imageHoverPlay1"><i class="far fa-play-circle"></i></div>
                            <img src="static/thumbnails/{{albumview.artwork_name}}" alt="Playlist by Control" class="img-fluid  box-shadow imageHeight"></a>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6 col-lg-6 col-xl-8 marginLeftXS">
                        <div class="row">
                            <div class="col-12 "><a href="#" class="songName" onclick='singleSongPlay("{{albumview.file}},,{{albumview.artwork_name}},,{{albumview.title}},,{{albumview.album_artist}},,{{albumview.length}}")'>{{albumview.title}}</a> </div>
                            <div class="col-12 "><a href="#" class="artistsName" onclick='ArtistView("{{albumview.album_artist}}")'>{{albumview.album_artist}}</a> </div>
                        </div>
                    </div>
                    <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-1 text-right songOption"><a href="#">
                        <i class="fas fa-ellipsis-h float-left mt-1 optionOnXS popup popup1"  id="option{{forloop.counter0}}" onclick='option("option{{forloop.counter0}}")' value="{{albumview.id}}">
                            <span class="popuptext">
                                <div class="row>">
                                    <i class="fas fa-tasks mr-3"></i>
                                    <i class="fas fa-plus" onclick='addOption("option{{forloop.counter0}}")'></i>
                                    <i class="far fa-heart ml-3" onclick='favouriteOption("option{{forloop.counter0}}")'></i>
                                </div>
                            </span>
                        </i> </a>
                    {% if albumview.explicit == 'True' %}🅴{% else %}{% endif %}</div>
                    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 songLength hideOnMD">{{albumview.length}}</div>
                </div>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-2 m-0 p-0"></div>
                    <div class="col-10 m-0 p-0"><hr></div>
                </div>
            </div>
        </div>
    {% endfor %}


</Section>